<!-- start: all first three card -->
<div class="row m-2">
    <!-- first card -->
    <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="info-box border border-secondary">
            <div class="pl-1 bg-secondary border-bottom border-secondary">
                <h5>Transfer Today</h5>
            </div>
            <span class="info-box-icon bg-primary rounded-circle m-3"><i class="fa fa-tags text-white"></i></span>
            <div class="info-box-content m-3">
                <h2>2,102</h2>
                <h6>Sales ready leads this month</h6>
            </div>
        </div>
    </div>

    <!-- second card -->
    <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="info-box border border-secondary ">
            <div class="pl-1 bg-secondary border-bottom border-secondary">
                <h5>CallAttempts Today</h5>
            </div>
            <span class="info-box-icon bg-warning rounded-circle m-3"><i class="fa fa-user text-white"></i></span>
            <div class="info-box-content m-3">
                <h2>307</h2>
                <h6>New customers this month</h6>

            </div>
        </div>
    </div>

    <!-- third card -->
    <div class="clearfix visible-sm-block"></div>
    <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="info-box border border-secondary">
            <div class="pl-1 bg-secondary border-bottom border-secondary">
                <h5>DNS Phone Count</h5>
            </div>
            <span class="info-box-icon bg-danger rounded-circle m-3"><i class="fa fa-users text-white"></i></span>
            <div class="info-box-content m-3">
                <h2>6,504</h2>
                <h6>Leads this month</h6>
            </div>
        </div>
    </div>
</div>
<!-- end: all first three card -->


<!-- start: all three chart -->
<div class="row w-100 mb-5">
    <div class="col-md-4 col-sm-6 col-xs-12 ml-4">
        <app-multi-line-chart></app-multi-line-chart>
        <br>
        <app-pie-chart></app-pie-chart>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12">
        <app-single-line-chart></app-single-line-chart>
    </div>
</div>
<!-- end: all three chart -->