:host ::ng-deep .slider-block .ng5-slider .ng5-slider-tick {
    width: 3px;
    height: 8px; border-radius: 0px;
}

:host ::ng-deep .slider-block .ng5-slider .ng5-slider-bar {
    height: 2px;
}

:host ::ng-deep .slider-block .ng5-slider .ng5-slider-pointer 
{

    background-color: #192C3F; outline: none;
}
:host ::ng-deep .slider-block .ng5-slider .ng5-slider-pointer:after {

    background: none;
}
:host ::ng-deep .slider-block .ng5-slider .ng5-slider-pointer:after:hover {

    background: none;
}
:host ::ng-deep .slider-block .ng5-slider-inner-tooltip { 
    display: none;
}
:host ::ng-deep .ng5-slider .ng5-slider-pointer { 
    width: 24px; height: 24px; top: -12px;
}

.value-block { 
    float: right; 	color: #152935; font-size: 16px; font-weight: 600; 
}

.slider-block { 
    width: 409px;
}

:host ::ng-deep .ng5-slider .ng5-slider-bubble.ng5-slider-limit{
    display: none;
}

:host ::ng-deep .ng5-slider .ng5-slider-bubble.ng5-slider-model-value{
    display: none;
}
 