<div id="landing-sidebar" class="animated">
  <ul>
    <li>
      <a routerLinkActive="active" routerLink="/admin/dashboard">
        <div class="iconblock">
          <!-- <img src="/assets/icons/dashboard-white.svg" alt=""> -->
          Dashboard
        </div>
  
      </a>
    </li>
    <li>
      <a routerLinkActive="active" routerLink="/admin/dashboard/category">
        <div class="iconblock">
          <!-- <img src="/assets/icons/dashboard-white.svg" alt=""> -->
          Categories
        </div>
  
      </a>
    </li>
    <li>
      <a routerLinkActive="active" routerLink="/admin/dashboard/products">
        <div class="iconblock">
          <!-- <img src="/assets/icons/content-paste-white.svg" alt=""> -->
        </div>
        Products
      </a>
    </li>
    <li>
  </ul>
</div>





<!-- <ul>
  <li>
    <a routerLinkActive="active" routerLink="/landing/ivr-number-list">
      <div class="iconblock">
        <img src="/assets/icons/dashboard-white.svg" alt="">Number list
      </div>

    </a>
  </li>
  <li>
    <a routerLinkActive="active" (click)="submenuFun()" routerLink="/landing">
      <div class="iconblock">
        <img src="/assets/icons/down-up-white.svg" alt="">
      </div>
      parent Item
      <div class="arrow-img">
        <img src="/assets/icons/{{arrowimg}}.svg" alt="">
      </div>
    </a>
    <ul class="sub-menu" *ngIf="isSubmenu">
      <li>
        <a>
          <div class="iconblock">
            <img src="/assets/icons/down-up-white.svg" alt="">
          </div>
          item1
        </a>
      </li>
      <li>
        <a>
          <div class="iconblock">
            <img src="/assets/icons/down-up-white.svg" alt="">
          </div>
          item1
        </a>
      </li>
      <li>
        <a>
          <div class="iconblock">
            <img src="/assets/icons/down-up-white.svg" alt="">
          </div>
          item1
        </a>
      </li>
    </ul>
  </li>
  <li>
    <a routerLinkActive="active" routerLink="/landing/table-grid">
      <div class="iconblock">
        <img src="/assets/icons/content-paste-white.svg" alt="">
      </div>
      Table Grid
    </a>
  </li>
  <li>
    <a routerLinkActive="active" routerLink="/landing/guide-test">
      <div class="iconblock">
        <img src="/assets/icons/calendar-white.svg" alt="">
      </div>
      Guide Test
    </a>
  </li>
</ul> -->